* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
}

:root {
  --main-color: #1e1f27;
  --second-color: #2a2c35;
  --font-color: #cfd2e3;
  --font-gray-color: #777b8e;
  --warning: #ff7549;
  --accent: #855aff;
}
